<div id='wrapper'>
    <form>
    <div class="field">
      <input type="text" placeholder="UserName" name="username" [(ngModel)]="username" class="input">
    </div>
    <div class="field">
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" class="input">
    </div>
    <div class="field">
      <button (click)="loginuser()" id="login">Login</button>
      <a [routerLink]="['/register']"class="btn btn-link">Register></a>
    </div>
</form>
    </div>
  
  