$padding-input-login: 0.3%;

body{
    margin-top: 50%;
}
.field{
    display:  flex;
    justify-content: center;
    align-items:  left;
    padding: 1%;
}
.wrapper{
    margin-bottom: 9em;
    height: 10em;    
}
.input{
    padding: padding-input-login;
    width: 20%;
}
#login{
    padding: padding-input-login;
    width: 17%;
    background-color: cadetblue;
    color: white;
}