<div id='wrapper'>
  <form>
    <div class="field">
      <input type="text" placeholder="First Name" name="firstname" [(ngModel)]="firstname" class="input">
    </div>
    <div class="field">
      <input type="text" placeholder="Last Name" name="lastname" [(ngModel)]="lastname" class="input">
    </div>
    <div class="field">
      <input type="text" placeholder="UserName" name="username" [(ngModel)]="username" class="input">
    </div>
    <div class="field">
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" class="input">
    </div>
    <div class="field">
      <button (click)="registeruser()" id="Register">Register</button>
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
